.dashboard-reviews {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.overview-card {
    flex: 1;
    padding: 15px;
    margin: 5px;
    border-radius: 34px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #aaaaaa, -5px -5px 10px #ffffff;
    text-align: center;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.overview-card:hover {
    transform: translateY(-5px);
}

.reviews-details {
    width: 100%; 
    margin-top: 30px;  
    padding: 15px;
    background-color: #e0e0e0; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaaaaa, -5px -5px 10px #ffffff;
}

.reviews-details h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1f3e72;
}

.review-card {
    background: #e0e0e0;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.review-card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #1f3e72;
}

.review-card p {
    font-size: 1rem;
    margin-bottom: 8px;
}
